aiohttp==4.0.0a1
APScheduler==3.7.0
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
click==8.0.0rc1
Flask==2.0.0rc1
idna==2.10
itsdangerous==2.0.0rc2
Jinja2==3.0.0rc2
MarkupSafe==2.0.0rc2
multidict==4.7.6
PyJWT==1.7.1
python-decouple==3.4
pytz==2021.1
requests==2.25.1
six==1.15.0
twilio==6.57.0
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.4
Werkzeug==2.0.0rc4
yarl==1.6.3
